/**********  Fonts  **********/
$font-primary:      'Lato', sans-serif;
$font-secondary:    'Red Hat Display', sans-serif;
$font-size-default: 16px;
$font-weight: 400; 

/********* Colors ***********/
$primary:         #565656;
$primary-light:   #544837;
$secondary:       #7b7b7b;
$secondary-light: #FAB005;
$white-default:   #FFFFFF;
$black-default:   #000000;

/********  Widths ***********/
$width: 1440px;
$content-width: 1170px;

/********  Breakpoints ******/
$lg: 1440px;
$md: 768px;
$md-max: $lg - 1;
$sm: 320px;
$sm-max: $md - 1;

/***** Padding ******/
$sm-padding: 0 10px;
$md-padding: 0 35px;
$lg-padding: 0 135px;

/***** Margin ******/
$sm-md-margin: 70px;
$lg-margin-bottom: 90px;

/***** Wrapper ******/
$md-width: 340px;






