.btn {
outline: none;
border: none;
background-color: transparent;
padding-left: 0;
padding-right: 0;
}

.btn-load-more {
background-color: #565656;
color: white; 
padding: 9.5px 45px;
display: block;
margin: 50px auto 70px;
  @include media ($lg) {
  margin: 35px auto 90px;
  width: 180px;
  height: 46px;
  }
}