a{
  color: $black-default;
}

.h-link {
    &::after {
    content: "→";
    margin: 10px;
    color: $secondary;
    position: absolute;
    left: 0;
    padding-top: 20px;
    }
}

.link {
  &::after {
  content: "→";
  margin: 10px;
  color: $secondary;
  }
}
    
.follow-link::after {
  @include media ($md) {
  content: "→";
  position: absolute;
  top: 52.4px;
  right: 45px;
  font-size: larger;
  color: #7B7B7B; 
  @include media ($lg) {
  font-size: xx-large;
  top: 47px;
  right: 233px;
  }
  }
}

        